<!-- flat content -->
<div id="flat-wrap">
    <div id="category">
        <p>Address</p>
        <p>Size</p>
        <p>Price</p>
        <p>Owner</p>
    </div>

    <a *ngFor="let flat of favFlats" class="btn-hover flat-item" (click)="goToFlatView(flat)">
        <div class="flat-inform">
            <div class="flat-img">
                <i class="material-icons">apartment</i>
            </div>
            <p class="address">{{ flat.stNum }} {{ flat.stName }}, {{ flat.city }}</p>
            <p class="size">{{ flat.size }}</p>
            <p class="price">{{ flat.price | currency:'CAD':'symbol':'1.0-0'  }}</p>
            <p>{{ flat.owner.email }} ({{ flat.owner.firstname }})</p>
            <i *ngIf="currentUser"
                class="material-icons flat-fav"
                [style.color]="currentUser?.favorites?.includes(flat._id) ? 'gold' : 'gray'"
                (click)="toggleFavorite($event, flat)">
                {{ currentUser?.favorites?.includes(flat._id) ? 'star' : 'star_outline' }}
            </i>
        </div>
    </a>
</div>