<header>
  <nav>
    <div id="left-menu">
      <a id="logo" (click)="closeMenu()" routerLink="/home"><img src="/assets/logo.png" alt="" /></a>
      <a id="admin" *ngIf="isUserAdmin" routerLink="/admin">Admin</a>
    </div>

    <div *ngIf="isLoggedIn">
      <div id="mypage">
        <ul *ngIf="isMenuOpen" id="menu-items">
          <a (click)="closeMenu()" routerLink="/my-flats" routerLinkActive="active">My flats</a>
          <a (click)="closeMenu()" routerLink="/my-favorites" routerLinkActive="active">My favorites</a>
          <a (click)="closeMenu()" routerLink="/my-profile" routerLinkActive="active">My profile</a>
          <a (click)="closeMenu()" routerLink="/edit-profile" routerLinkActive="active">Edit profile</a>
          <li (click)="closeMenu()" class="btn-hover" id="logout" (click)="logout()">Log out</li>
        </ul>
        <div id="menu" class="btn-hover" (click)="isMenuOpen = !isMenuOpen">
          <p *ngIf="!isMenuOpen">Jihye Park</p>
          <img src="/assets/menu.png" alt="" />
        </div>
      </div>
    </div>
    <div *ngIf="!isLoggedIn">
      <a id="login" routerLink="/login">Log in</a>
    </div>
  </nav>
</header>
