/*  Container  */
.flat-container {
  margin: 0 auto;
  padding: 30px;
  background-color: var(--table-tr-gray);
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
  gap: 30px;
}

/*  Header  */
.flat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flat-header .address {
  font-size: 20px;
  font-weight: 600;
  color: #333;
}
.flat-fav {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

/*  Main Layout (65% / 35%)  */
.flat-detail {
  display: flex;
  gap: 20px;
}

/*  Flat Info List  */
.flat-info-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.flat-info {
  width: 300px;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 15px 20px;
  margin-bottom: 10px;
  background-color: white;
  border-radius: 8px;
  min-width: 200px;
}

.flat-info .icon {
  font-size: 28px;
  color: #555;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flat-info .label {
  font-size: 12px;
  color: lightgrey;
  margin-bottom: 5px;
}

.flat-info .value {
  font-size: 16px;
  font-weight: 600;
  color: #333;
}

/*  Owner Section  */
.owner-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/*  Message Box  */
.message-box {
  background-color: #fff;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}
.message-box #message-content-box {
  width: 100%;
  height: 100px;
  position: relative;
}
.message-box textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  resize: none;
}

.message-box button {
  background-color: var(--gray-black);
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

/* Show Alert */
.toast {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0px;
  background: #333;
  color: #fff;
  padding: 12px 20px;
  border-radius: 8px;
  animation: fadeOut 2s forwards;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
