/* add btn */
.my-flats-header {
  width: 1200px;
  margin: 20px auto;
  text-align: right;
}

.add-flat-btn {
  background-color: var(--light-gray-black);
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.add-flat-btn:hover {
  background-color: var(--gray-black);
}


/* flat content */
.flat-wrap {
  min-width: 1200px;
  min-height: 688px;
}

#flat-control {
  min-width: 1200px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
#flat-control p:first-child {
  font-size: 60px;
  font-weight: 900;
}
#flat-control p:last-child {
  min-width: 200px;
  height: 40px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 3px;
  display: flex;
  overflow: hidden;
}
#flat-control p:last-child span {
  width: calc(100% / 2);
  line-height: 40px;
  text-align: center;
}
#flat-control p:last-child span:first-child {
  color: white;
  background-color: var(--gray-black);
}
#flat-control p:last-child span:last-child {
  background-color: #f1f1f1;
  font-weight: 600;
}

.flat-content {
  min-height: 288px;
  padding-bottom: 30px;
}
table {
  width: 100%;
  border-spacing: 0px 10px;
}
table tr {
  height: 60px;
  font-size: 13px;
}
table thead th {
  font-weight: 500;
  color: lightgray;
  text-align: center;
}
table tbody tr {
  background-color: var(--table-tr-gray);
}
table tbody tr td {
  text-align: center;
}
table tbody td .manage {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
table tbody td button {
  background-color: var(--gray-black);
  color: white;
  font-size: 12px;
  padding: 7px 10px;
  border-radius: 3px;
}
img.flat-fav {
  width: 30px;
}
#add-flat {
  background-color: var(--gray-black);
  color: white;
  font-size: 20px;
  font-weight: 700;
}
