nav {
  max-width: 1200px;
  height: 60px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  position: relative;
}

#logo img {
  width: 80px;
}

nav div #mypage,
nav div #menu {
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 10px;
}
nav div #menu img {
  width: 16px;
}
#menu-items {
  font-size: 12px;
  font-weight: 500;
  border-radius: 10px;
  transition: all 0.3s ease;

  display: flex;
  gap: 20px;
}
#menu-items > * {
  color: gray;
}
#menu-items > a.active {
  color: #333;
}
#menu-items #logout {
  color: red;
}


nav div #login {
  font-size: 12px;
  font-weight: 500;
  border: thin solid lightgray;
  border-radius: 3px;
  padding: 5px 10px;
}
