<div id="msg-modal" [ngClass]="{ open: isMessageOpen }">
  <img
    id="msg-close"
    class="btn-hover"
    src="/assets/close.png"
    (click)="isMessageOpen = !isMessageOpen"
    alt=""
  />
  <div id="msg-wrap" #scrollContainer>
    <div class="msg-item" *ngFor="let msg of messageContent">
      <p class="sender-inform">
        <span>{{ msg.createdAt | date : "yy.MM.dd HH:mma" }}</span>
      </p>
      <p class="msg-content">
        {{ msg.content }}
      </p>
    </div>
  </div>
</div>

<table>
  <thead>
    <tr id="category">
      <th>Address</th>
      <th>Size</th>
      <th>Price</th>
      <th>AC</th>
      <th>Built</th>
      <th>Available</th>
      <th>Owner</th>
      <th>View Messages</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let group of outboxByFlat$ | async | keyvalue"
      class="btn-hover flat-item"
      (click)="viewFlatDetail(group.value.flat)"
    >
      <td>
        <p class="address">
          {{ group.value.flat.stNum }} {{ group.value.flat.stName }},
          {{ group.value.flat.city }}
        </p>
      </td>
      <td>
        <p class="size">{{ group.value.flat.size }}m²</p>
      </td>
      <td>
        <p class="price">
          {{ group.value.flat.price | currency : "CAD" : "symbol" : "1.0-0" }}
        </p>
      </td>
      <td>
        <p class="hasAC">
          {{ group.value.flat.hasAC ? "Y" : "N" }}
        </p>
      </td>
      <td>
        <p class="built">
          {{ group.value.flat.year }}
        </p>
      </td>
      <td>
        <p class="available">
          {{ group.value.flat.availDate | date : "yy.MM.dd" }}
        </p>
      </td>
      <td>
        <p>
          {{ group.value.flat.owner.firstname }} ({{
            group.value.flat.owner.email
          }})
        </p>
      </td>
      <td>
        <button (click)="openModal(group.value.flat._id!, $event)">
          View Messages ( {{ group.value.messages.length }} )
        </button>
      </td>
    </tr>
  </tbody>
</table>
