<div class="container">
    <form [formGroup]="updateForm" (ngSubmit)="editProfile()">
        <small id="warn-msg" *ngIf="errorMessage">⚠️ {{ errorMessage }}</small>
        <!-- first name -->
        <div class="form-row">
            <label for="first-name">First name:</label>
            <input type="text" id="first-name" formControlName="firstName" value="currentUser$.firstname">
        </div>

        <!-- last name -->
        <div class="form-row">
            <label for="last-name">Last name:</label>
            <input type="text" id="last-name" formControlName="lastName">
        </div>

        <!-- Email -->
        <div class="form-row">
            <label for="email">Email:</label>
            <input type="email" id="email" formControlName="email">
        </div>

        <!-- Comfirm Email -->
        <!-- <div class="form-row">
        <label for="confirm-email">Confirm Email:</label>
        <input type="email" id="confirm-email" formControlName="confirmEmail" placeholder="Enter your email again" >
        <div class="error" id="match-email-error" *ngIf="updateForm.errors?.emailMismatch && updateForm.get('confirmEmail')?.touched">
            Emails do NOT match.
        </div>
    </div> -->

        <!-- password -->
        <div class="form-row">
            <label for="password">Password:</label>
            <input type="password" id="password" formControlName="password">
        </div>

        <!-- Comfirm password -->
        <div class="form-row">
            <label for="confirm-password">Confirm Password:</label>
            <input type="password" id="confirm-password" formControlName="confirmPassword"
                placeholder="Enter your password again">
        </div>

        <!-- Birthday -->
        <div class="form-row">
            <label for="birthdate">Date of birth</label>
            <input type="date" id="birthdate" formControlName="birthdate">
        </div>

        <!-- submit -->
        <button type="submit">Update</button>
    </form>
</div>