#admin-back {
  display: flex;
}

#admin-menu {
  position: fixed;
  top: 0;
  left: 0px;
  width: 230px;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--gray-black);
  gap: 50px;
}
#admin-menu #admin-header {
  display: flex;
  flex-direction: column;
  gap: 70px;
}
#logo img {
  width: 150px;
  margin-top: 50px;
}
nav {
  width: 150px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
nav a {
  color: white;
}
nav a.active {
  font-weight: 600;
}

#admin-user {
  width: 230px;
  height: 140px;
  position: absolute;
  background-color: rgb(58, 58, 58);
  padding: 0 20px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
#admin-user #inform {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
#admin-user #inform p {
  width: 190px;
  color: white;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  &:first-child {
    font-weight: 600;
    font-size: 14px;
  }
}
#admin-user #logout-btn {
  width: fit-content;
  color: white;
  padding: 5px 10px;
  border-radius: 7px;
  margin-top: 15px;
  font-size: 12px;
  background-color: var(--not-too-red);
}

/* right side */
#child-content {
  width: 100%;
  margin-left: 230px;
  height: 100vh;
  padding: 0 50px;
}

/* tablet */
@media (max-width: 1023px) {
  #admin-back {
    flex-direction: column;
  }
  #admin-menu {
    width: 100%;
    height: 60px;
    position: relative;
    left: 0;
    flex-direction: unset;
    justify-content: space-between;
    padding-left: 20px;
  }
  #admin-menu #admin-header {
    flex-direction: unset;
    align-items: center;
    gap: 20px;
  }
  #admin-menu #admin-user {
    position: unset;
    height: 100%;
    flex-direction: unset;
    width: fit-content;
    align-items: center;
    gap: 30px;
  }
  #admin-user #inform {
    gap: 0;
  }
  #admin-user #inform p {
    width: fit-content;
  }
  #admin-user #logout-btn {
    margin-top: 0;
  }
  #logo img {
    width: 100px;
    margin-top: 0;
  }
  nav {
    font-size: 13px;
    flex-direction: unset;
  }

  #child-content {
    margin-left: 0;
    padding: 0 20px;
  }
}
