#admin-back {
  display: flex;
  height: 100vh;
}

#admin-menu {
  position: relative;
  width: 230px;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(30, 30, 30);
  gap: 50px;
}
#logo img {
  width: 150px;
  margin-top: 50px;
}
nav {
  width: 150px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
nav a {
  color: white;
}
nav a.active {
  font-weight: 600;
}

#admin-user {
  width: 230px;
  height: 90px;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: rgb(58, 58, 58);
}
#admin-user #img-box {
  width: 40px;
  height: 40px;
  object-fit: cover;
  overflow: hidden;
  border-radius: 50%;
}
#admin-user #img-box img {
  width: 40px;
}
#admin-user #inform p {
  color: white;
  font-size: 12px;

  &:first-child {
    font-weight: 600;
    font-size: 14px;
  }
}

/* right side */
#child-content {
  width: calc(100vw - 230px);
  height: 100vh;
  padding: 0 50px;
}
