<!-- filter nav -->
<div id="filter-nav" [ngClass]="{ open: isFilterOpen }">
  <img
    id="filter-close"
    class="btn-hover"
    src="/assets/close.png"
    (click)="isFilterOpen = !isFilterOpen"
    alt=""
  />
  <h3>Search Filter</h3>
  <div id="filter-filtering">
    <div>
      <label>City</label>
      <input
        [(ngModel)]="city"
        type="text"
        placeholder="Enter the name of the city"
      />
    </div>
    <div>
      <label>Price (CAD)</label>
      <div>
        <input [(ngModel)]="priceA" type="number" placeholder="min" />
        <span>~</span>
        <input [(ngModel)]="priceB" type="number" placeholder="max" />
      </div>
    </div>
    <div>
      <label>Area Size (㎡)</label>
      <div>
        <input [(ngModel)]="sizeA" type="number" placeholder="min" />
        <span>~</span>
        <input [(ngModel)]="sizeB" type="number" placeholder="max" />
      </div>
    </div>
  </div>
  <div id="filter-sort">
    <div>
      <input id="aToZ" [(ngModel)]="sort" value="aToZ" type="radio" />
      <label for="aToZ">City (A-Z)</label>
    </div>
    <div>
      <input id="zToA" [(ngModel)]="sort" value="zToA" type="radio" />
      <label for="zToA">City (Z-A)</label>
    </div>
    <div>
      <input id="priceLH" [(ngModel)]="sort" value="priceLH" type="radio" />
      <label for="priceLH">Price (Low to high)</label>
    </div>
    <div>
      <input id="priceHL" [(ngModel)]="sort" value="priceHL" type="radio" />
      <label for="priceHL">Price (High to low)</label>
    </div>
    <div>
      <input id="sizeLH" [(ngModel)]="sort" value="sizeLH" type="radio" />
      <label for="sizeLH">Size (Low to high)</label>
    </div>
    <div>
      <input id="sizeHL" [(ngModel)]="sort" value="sizeHL" type="radio" />
      <label for="sizeHL">Size (High to low)</label>
    </div>
  </div>
  <div id="filter-apply">
    <button id="reset-btn" type="button" (click)="filterReset()">Reset</button>
    <button id="apply-btn" type="button" (click)="filterApply()">Apply</button>
  </div>
</div>

<!-- flat title -->
<div id="flat-control">
  <div id="title">
    Listing Flats <span>({{ filteredItems.length }})</span>
  </div>
  <div id="btn-wrap">
    <div id="filter" class="btn-hover" (click)="isFilterOpen = !isFilterOpen">
      <img src="/assets/filter.png" alt="" />
      Filter
    </div>
    <a href="/new-flat" id="new" class="btn-hover">
      <img src="/assets/add.png" alt="" />
      New Flat
    </a>
  </div>
</div>

<!-- flat content -->
<div class="flat-wrap">
  @if (filteredItems.length > 0) {
  <table>
    <thead>
      <tr id="category">
        <th></th>
        <th>Address</th>
        <th>Size</th>
        <th>Price</th>
        <th>Owner</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let flat of getAllFlats(); trackBy: trackById"
        class=" flat-item"
      >
        <td>
          <ng-container *ngIf="currentUser$ | async as user">
            <img
              *ngIf="flat._id"
              [src]="getFavoriteIcon(flat._id, user.favorites)"
              (click)="setFavorite(flat._id, user.favorites)"
              class="btn-hover flat-fav"
              alt=""
            />
          </ng-container>
        </td>
        <td>
          <p class="address">
            {{ flat.stNum }} {{ flat.stName }}, {{ flat.city }}
          </p>
        </td>
        <td>
          <p class="size">{{ flat.size }}m²</p>
        </td>
        <td>
          <p class="price">
            ${{ flat.price | currency : "CAD" : "symbol" : "1.0-0" }}
          </p>
        </td>
        <td>
          <p>{{ flat.owner.email }} ({{ flat.owner.firstname }})</p>
        </td>
        <td>
          <button (click)="viewFlatDetail(flat)">View Detail</button>
        </td>
      </tr>
    </tbody>
  </table>
  } @else {
  <p id="no-result">No flats found. ✅</p>
  }
</div>
