<!-- opening show -->
<div id="banner">
  <img src="/assets/logo.png" alt="" />
  <p>Your space, your home – browse apartments effortlessly.</p>
</div>

<!-- filter nav -->
<div id="filter-nav" [ngClass]="{ open: isFilterOpen }">
  <img
    id="filter-close"
    class="btn-hover"
    src="/assets/close.png"
    (click)="isFilterOpen = !isFilterOpen"
    alt=""
  />
  <h3>Search Filter</h3>
  <div id="filter-filtering">
    <div>
      <label>City</label>
      <input
        [(ngModel)]="city"
        type="text"
        placeholder="Enter the name of the city"
      />
    </div>
    <div>
      <label>Price (CAD)</label>
      <div>
        <input [(ngModel)]="priceA" type="number" placeholder="min" />
        <span>~</span>
        <input [(ngModel)]="priceB" type="number" placeholder="max" />
      </div>
    </div>
    <div>
      <label>Area Size (㎡)</label>
      <div>
        <input [(ngModel)]="sizeA" type="number" placeholder="min" />
        <span>~</span>
        <input [(ngModel)]="sizeB" type="number" placeholder="max" />
      </div>
    </div>
  </div>
  <div id="filter-sort">
    <div>
      <input id="aToZ" [(ngModel)]="sort" value="aToZ" type="radio" />
      <label for="aToZ">City (A-Z)</label>
    </div>
    <div>
      <input id="zToA" [(ngModel)]="sort" value="zToA" type="radio" />
      <label for="zToA">City (Z-A)</label>
    </div>
    <div>
      <input id="priceLH" [(ngModel)]="sort" value="priceLH" type="radio" />
      <label for="priceLH">Price (Low to high)</label>
    </div>
    <div>
      <input id="priceHL" [(ngModel)]="sort" value="priceHL" type="radio" />
      <label for="priceHL">Price (High to low)</label>
    </div>
    <div>
      <input id="sizeLH" [(ngModel)]="sort" value="sizeLH" type="radio" />
      <label for="sizeLH">Size (Low to high)</label>
    </div>
    <div>
      <input id="sizeHL" [(ngModel)]="sort" value="sizeHL" type="radio" />
      <label for="sizeHL">Size (High to low)</label>
    </div>
  </div>
  <div id="filter-apply">
    <button id="reset-btn" type="button" (click)="filterReset()">Reset</button>
    <button id="apply-btn" type="button" (click)="filterApply()">Apply</button>
  </div>
</div>

<!-- flat header -->
<div id="flat-control">
  <div id="title">
    <ng-container *ngIf="filteredItems$ | async as flats">
      Listing Flats <span>({{ flats.length }})</span>
    </ng-container>
  </div>
  <div id="btn-wrap">
    <div id="filter" class="btn-hover" (click)="isFilterOpen = !isFilterOpen">
      <img src="/assets/filter.png" alt="" />
      <p>Filter</p>
    </div>
    <a *ngIf="currentUser" href="/flat/create" id="new" class="btn-hover">
      <img src="/assets/add.png" alt="" />
      <p>New Flat</p>
    </a>
  </div>
</div>

<!-- flat content -->
<div class="flat-wrap" *ngIf="filteredItems$ | async as flats; else loading">
  <table *ngIf="flats.length > 0">
    <thead>
      <tr id="category">
        <th *ngIf="currentUser as user"></th>
        <th>Address</th>
        <th>Size</th>
        <th>Price</th>
        <th>AC</th>
        <th>Built</th>
        <th>Available</th>
        <th>Owner</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let flat of flats; trackBy: trackById"
        class="flat-item btn-hover"
        (click)="viewFlatDetail(flat)"
      >
        <td *ngIf="currentUser as user">
          <img
            *ngIf="flat._id"
            [src]="getFavoriteIcon(flat._id)"
            (click)="setFavorite(flat, $event)"
            class="btn-hover flat-fav"
            alt=""
          />
        </td>
        <td>
          <p class="address">
            {{ flat.stNum }} {{ flat.stName }}, {{ flat.city }}
          </p>
        </td>
        <td>
          <p class="size">{{ flat.size }}m²</p>
        </td>
        <td>
          <p class="price">
            {{ flat.price | currency : "CAD" : "symbol" : "1.0-0" }}
          </p>
        </td>
        <td>
          <p class="hasAC">
            {{ flat.hasAC ? "Y" : "N" }}
          </p>
        </td>
        <td>
          <p class="built">
            {{ flat.year | date : "yyyy" }}
          </p>
        </td>
        <td>
          <p class="available">
            {{ flat.availDate | date : "yy.MM.dd" }}
          </p>
        </td>
        <td>
          <p>{{ flat.owner.email }} ({{ flat.owner.firstname }})</p>
        </td>
      </tr>
    </tbody>
  </table>

  <div id="no-result" *ngIf="flats.length == 0">
    <p>No flats found. ✅</p>
  </div>
</div>

<!-- else template -->
<ng-template #loading>
  <p>Loading...</p>
</ng-template>
