/* user header ---------------------------------- */
#user-control {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0 30px;
  gap: 10px;
}
#user-control #title {
  font-size: 18px;
  font-weight: 600;
}
#user-control #filter {
  padding: 8px 20px;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 500;
  background-color: rgb(224, 224, 224);

  display: flex;
  align-items: center;
  gap: 15px;
}
#user-control #filter img {
  width: 18px;
}

/* aside common ---------------------------------- */
aside {
  width: 270px;
  height: 100%;
  padding: 45px 30px;
  position: fixed;
  top: 0;
  right: 0;
  background-color: white;
  box-shadow: -3px 0px 20px 0px #9a9a9a;

  display: flex;
  flex-direction: column;
  gap: 40px;
  z-index: 1;

  opacity: 0;
  visibility: hidden;
  transform: translateX(270px);
  transition: all 0.5s ease;
}
aside.open {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}
aside .aside-close {
  width: 16px;
  position: absolute;
  top: 27px;
  right: 29px;
}

/* aside - filter */
#filter-filtering input {
  width: 97.9px;
  padding: 7px 10px;
  border: thin solid lightgray;
  border-radius: 10px;

  &:not(input[type="number"]) {
    width: 210px;
  }
}
#filter-filtering,
#filter-sort {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 14px;
}
#filter-filtering > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#filter-filtering .choose-both {
  display: flex;
  border: thin solid lightgray;
  border-radius: 10px;
  overflow: hidden;
}
#filter-filtering .choose-both div {
  width: calc(100% / 2);
  text-align: center;
  padding: 7px 10px;
  font-size: 13px;
  color: #757575;

  &:last-child {
    border-left: thin solid lightgray;
  }
}
#filter-filtering .choose-both div.type,
#filter-filtering .choose-both div.admin {
  background-color: var(--light-gray-black);
  color: white;
}

#filter-sort > div {
  display: flex;
  gap: 10px;
}
#filter-apply {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
#filter-apply button {
  padding: 7px 15px;
  background-color: lightgray;
  color: white;
  border-radius: 7px;
  font-size: 12px;
}

/* aside - profile */
#profile-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 15px;
}
#profile-content span {
  font-size: 12px;
}

/* user content ---------------------------------- */
.user-wrap {
  width: 100%;
}
table.user-wrap {
  border-spacing: 0px 10px;
}
table tr {
  height: 50px;
}
table thead th {
  font-size: 13px;
  font-weight: 500;
  color: lightgray;
  text-align: center;
}
table tbody tr {
  background-color: rgb(241, 241, 241);
}
table tbody td .admin-manage,
table tbody td .user-manage {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
table tbody td button {
  background-color: var(--light-gray-black);
  color: white;
  font-size: 12px;
  padding: 7px 10px;
  border-radius: 7px;
}
table tbody td .admin-manage img {
  height: 25px;
  padding: 5px;
  border-radius: 50%;
  background-color: green;
}
table tbody td button.remove-manage {
  background-color: var(--not-too-red);
}

.user-wrap #no-result {
  font-weight: 600;
  font-size: 20px;
}

.user-item {
  font-size: 13px;
  text-align: center;
}
