<form [formGroup]="editFlatForm" (ngSubmit)="onSubmit()">
    <div class="flat-container">
        <!-- Adress -->
        <div class="flat-info">
            <div class="icon"><i class="material-icons">home</i></div>
            <div class="form-row">
                <div class="label">Street Number</div>
                <div class="value">
                    <input type="number" formControlName="stNum">
                </div>
                <div class="error" *ngIf="stNum?.invalid && stNum?.touched">
                    Street number is required.
                </div>
            </div>
        </div>

        <div class="flat-info">
            <div class="icon"><i class="material-icons">home</i></div>
            <div class="form-row">
                <div class="label">Street Name</div>
                <div class="value">
                    <input type="text" formControlName="stName">
                </div>
                <div class="error" *ngIf="stName?.invalid && stName?.touched">
                    Street name must be at least 2 chalacters.
                </div>
            </div>
        </div>

        <div class="flat-info">
            <div class="icon"><i class="material-icons">home</i></div>
            <div class="form-row">
                <div class="label">City</div>
                <div class="value">
                    <input type="text" formControlName="city">
                </div>
                <div class="error" *ngIf="city?.invalid && city?.touched">
                    City must be at least 2 chalacters.
                </div>
            </div>
        </div>

        <!-- Main Info -->
        <div class="flat-detail">
            <!-- Flat Info -->
            <div class="flat-info-list">
                <div class="flat-info">
                    <div class="icon"><i class="material-icons">attach_money</i></div>
                    <div class="form-row">
                        <div class="label">Price</div>
                        <div class="value">
                            <input type="number" formControlName="price">
                        </div>
                        <div class="error" *ngIf="price?.invalid && price?.touched">
                            Price must be positive number.
                        </div>
                    </div>
                </div>

                <div class="flat-info">
                    <div class="icon"><i class="material-icons">square_foot</i></div>
                    <div class="form-row">
                        <div class="label">Size</div>
                        <div class="value">
                            <input type="number" formControlName="size">
                        </div>
                        <div class="error" *ngIf="size?.invalid && size?.touched">
                            Size must be positive number.
                        </div>
                    </div>
                </div>

                <div class="flat-info">
                    <div class="icon"><i class="material-icons">thermostat</i></div>
                    <div class="form-row">
                        <div class="label">hasAC</div>
                        <div class="radio-group">
                            <label><input type="radio" formControlName="hasAC" [value]="true"> Yes</label>
                        <label><input type="radio" formControlName="hasAC" [value]="false"> No</label>
                        </div>
                    </div>
                    <div class="error" *ngIf="hasAC?.invalid && hasAC?.touched">
                        Please select whether the flat has AC.
                    </div>
                </div>

                <div class="flat-info">
                    <div class="icon"><i class="material-icons">apartment</i></div>
                    <div class="form-row">
                        <div class="label">Built In</div>
                        <div class="value">
                            <input type="number" formControlName="year">
                        </div>
                        <div class="error" *ngIf="year?.invalid && year?.touched">
                            Please enter a year after 1800.
                        </div>
                    </div>
                </div>

                <div class="flat-info">
                    <div class="icon"><i class="material-icons">today</i></div>
                    <div class="form-row">
                        <div class="label">Date Available</div>
                        <div class="value">
                            <input type="date" formControlName="availDate">
                        </div>
                    </div>
                </div>
            </div>

            <!-- Submit Button -->
            <div class="flat-actions">
                <button type="submit" [disabled]="!editFlatForm.valid">Save Changes</button>
            </div>
        </div>
    </div>
</form>