<!-- filter nav -->
<div id="filter-nav" [ngClass]="{ open: isFilterOpen }">
  <img
    id="filter-close"
    class="btn-hover"
    src="/assets/close.png"
    (click)="isFilterOpen = !isFilterOpen"
    alt=""
  />
  <h3>Search Filter</h3>
  <div id="filter-filtering">
    <div>
      <label>City</label>
      <input
        [(ngModel)]="city"
        type="text"
        placeholder="Enter the name of the city"
      />
    </div>
    <div>
      <label>Price (CAD)</label>
      <div>
        <input [(ngModel)]="priceA" type="number" placeholder="min" />
        <span>~</span>
        <input [(ngModel)]="priceB" type="number" placeholder="max" />
      </div>
    </div>
    <div>
      <label>Area Size (㎡)</label>
      <div>
        <input [(ngModel)]="sizeA" type="number" placeholder="min" />
        <span>~</span>
        <input [(ngModel)]="sizeB" type="number" placeholder="max" />
      </div>
    </div>
  </div>
  <div id="filter-sort">
    <div>
      <input id="aToZ" [(ngModel)]="sort" value="aToZ" type="radio" />
      <label for="aToZ">City (A-Z)</label>
    </div>
    <div>
      <input id="zToA" [(ngModel)]="sort" value="zToA" type="radio" />
      <label for="zToA">City (Z-A)</label>
    </div>
    <div>
      <input id="priceLH" [(ngModel)]="sort" value="priceLH" type="radio" />
      <label for="priceLH">Price (Low to high)</label>
    </div>
    <div>
      <input id="priceHL" [(ngModel)]="sort" value="priceHL" type="radio" />
      <label for="priceHL">Price (High to low)</label>
    </div>
    <div>
      <input id="sizeLH" [(ngModel)]="sort" value="sizeLH" type="radio" />
      <label for="sizeLH">Size (Low to high)</label>
    </div>
    <div>
      <input id="sizeHL" [(ngModel)]="sort" value="sizeHL" type="radio" />
      <label for="sizeHL">Size (High to low)</label>
    </div>
  </div>
  <div id="filter-apply">
    <button id="reset-btn" type="button" (click)="filterReset()">Reset</button>
    <button id="apply-btn" type="button" (click)="filterApply()">Apply</button>
  </div>
</div>

<!-- flat title -->
<div id="flat-control">
  <div id="title">
    Listing Flats <span>({{ filteredItems.length }})</span>
  </div>
  <div id="btn-wrap">
    <div id="filter" class="btn-hover" (click)="isFilterOpen = !isFilterOpen">
      <img src="/assets/filter.png" alt="" />
      Filter
    </div>
    <a href="/new-flat" id="new" class="btn-hover">
      <img src="/assets/add.png" alt="" />
      New Flat
    </a>
  </div>
</div>

<!-- flat content -->
<div class="flat-wrap" *ngIf="filteredItems.length > 0">
  <div id="category">
    <p>Address</p>
    <p>Size</p>
    <p>Price</p>
    <p>Owner</p>
  </div>

  <a
    href=""
    class="btn-hover flat-item"
    *ngFor="let flat of getAllFlats(); let i = index"
  >
    <div class="flat-inform">
      <div class="flat-img">
        <img src="/assets/home.png" alt="" />
      </div>
      <p class="address">{{ flat.city }}</p>
      <p class="size">{{ flat.size }}m²</p>
      <p class="price">${{ flat.price | number : "1.0-0" }} CAD</p>
      <p>{{ flat.ownerEmail }} ({{ flat.ownerName }})</p>
      <img class="flat-fav" src="/assets/fav-white.png" alt="" />
    </div>
  </a>
</div>
<div class="flat-wrap" *ngIf="filteredItems.length === 0">
  <p id="no-result">No results found. ✅</p>
</div>