@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

:root {
  --btn-grey: rgb(195, 195, 195);
  --btn-grey-on: rgb(161, 161, 161);
  --btn-blue: #9ebbce;
  --gray-black: rgb(30, 30, 30);
  --light-gray-black: rgb(58, 58, 58);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
  color: #333;

  list-style: none;
  text-decoration: none;
  outline: none;
  user-select: none;
}

button {
  border: none;
  cursor: pointer;
}

.btn-hover {
  cursor: pointer;
}

.common-back {
  width: 100%;
  min-height: calc(100vh - 110px);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.login-register-height {
  height: calc(100vh - 50px);
}
.admin-display-block {
  display: block;
}

html,
body {
  min-width: 980px;
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
